

body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    
    
   
}
/* navbar */
.navbar {
    background-color: #343a40;
}
.navbar-dark .navbar-nav .nav-link {
    color: rgb(255, 253, 253);
}
.navbar-dark .navbar-toggler-icon {
    background-color: #343a40;
}
.navbar .form-inline {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar .form-inline .form-group {
    margin-bottom: 0;
}

/* product card */
.product-card {
    margin-bottom: 30px;
}
.product-card img {
    max-width: 100%;
    height: auto;
}
.product-card .card-body {
    text-align: center;
}
.product-card .btn {
    width: 100%;
}
/* footer */
.footer {
    background-color: #343a40;
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.footer-links ul {
    list-style-type: none;
    padding: 0;
}

.footer-links li {
    margin-bottom: 10px;
}

.footer-links a {
    color: #ffffff;
    text-decoration: none;
}

.footer-social ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.footer-social li {
    margin: 0 10px;
}

.footer-social a {
    color: #ffffff;
    text-decoration: none;
    font-size: 24px;
}

.footer-small {
    font-size: 14px;
}
.footer-container li{
    font-size: .7em;
}
.footer-container h5{
    font-size: 1.5em;
    font:bold;
}
.footer-container a:hover{
    text-decoration: underline;
    color: lightgray;
}
nav img{
   width: 50px;
}
form{
    width: 85%;

}
/* nav drop down menu */
.navbar .nav-item.dropdown:hover .dropdown-menu {
    display: block;
}

.navbar .nav-item.dropdown .dropdown-menu {
    display: none;
    position: absolute;
    background-color: #343a40; 
    min-width: 100%;
    box-shadow: none;
    border: none;
    border-top: 2px solid #ffffff; 
}

.navbar .nav-item.dropdown .dropdown-menu .dropdown-item {
    color: #ffffff; 
}

.navbar .nav-item.dropdown .dropdown-menu .dropdown-item:hover {
    background-color: #007bff; 
}
nav .btn
{
    color: white;
    border-color: white;
}

nav .btn:hover
{
    background-color: grey;
    color: black;
    border-color: grey;
}






